.small-container{
    max-width: 600px !important;
  }
/* sidebar */
.navbar-brand{
    font-weight: bold;
}
.side-navbar{
    width: 240;
    height: 100%;
    position: absolute;
    left: -300px;
    background-color: #100901;
    transition: 0.5s;
}
.site-container{
   transition: 0.4s;
}
.active-cont{
    margin-left: 140px;
}
.active-nav{
    left: 0;
}